*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #f5ebe5;
}
.symbol{
  height: 200px;
  float: right;
  margin: 10px 25px 0 0;
}
nav .logo{
  margin-top: 12.5px;
  height: 75px;
  line-height: 100px;
  margin-left: 55px;
}
nav{
  display: flex;
height: 100px;
background: #f1f1f1;
width: 100%;
justify-content: space-between;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  right: 0;
}
nav li{
  justify-content: space-around;
  align-items: right;
  right: 0;
  float: right;
  list-style: none;
  position: relative;

}
nav ul li a{
    display: block;
    justify-content:space-around;
  text-decoration: none;
  list-style: none;
  font-family: arial;
  color: #222;
  cursor: pointer;
  padding-right: 25px;
  font-size: 20px;
  line-height: 100px;

}
nav {

}
